* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b3b3b3;
}

.app {
  text-align: center;
  height: 100vh;
  font-family: 'Nanum Brush Script', cursive;
}

.title {
  font-size: 50px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

.details > h1 {
  margin: 30px;
}

.no-reviews {
  color: #eb4d01;
  margin-bottom: 40px;
  font-size: 30px;
}

div > a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 80vw;
  border: 2px solid black;
  box-shadow: 10px 10px 5px #969696;
  border-radius: 15px;
  max-height: 35vh;
}

button {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
  color: white;
  background-color: #e97b00;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

button:hover {
  background-color: #ffcc00;
  border: 2px solid #eb4d01;
  color: black;
}

.nav-links > a {
  font-size: 2.5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links > a,
#logo > a {
  color: #ffffff;
  text-decoration: none;
  width: 25vw;
  height: 10vh;
  user-select: none;
}

.nav-links > a:hover,
#logo > a:hover {
  color: #ffcc00;
}

nav {
  background-color: #eb4d01;
  color: #ffffff;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  background-color: #e97b00;
  color: #ffffff;
  height: 5vh;
  padding: 0 2vw 0 2vw;
  font-size: 2vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#footer-center {
	width: 60vw;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.65em;
}

#footer-left {
	width: 20vw;
	justify-content: flex-start;
}

#footer-right {
	width: 20vw;
	justify-content: flex-end;
}

.nav-links {
  width: 75vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}

.active {
  background-color: #e97b00;
  box-shadow: 0 8px 8px -4px rgb(113, 113, 113);
}

#logo {
  font-family: 'Frijole', cursive;
  font-size: 40px;
  width: 25vw;
  height: 10vh;
  line-height: 10vh;
  padding: 20px;
}

#emoji {
  font-size: 200px;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.page {
  background-color: #b3b3b3;
  height: 83vh;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.page::-webkit-scrollbar {
  width: 15px;
}

.page::-webkit-scrollbar-track {
  background: lightgray;
}

.page::-webkit-scrollbar-thumb {
  background: #e97b00;
  border-radius: 10px;
}

.page::-webkit-scrollbar-thumb:hover {
  background: #ffcc00;
}

.home > h1 {
  color: white;
  font-size: 35px;
}

#home-logo {
  font-family: 'Frijole', cursive;
  font-size: 30px;
  color: #eb4d01;
}

#footer-logo {
  font-family: 'Frijole', cursive;
  font-size: 35px;
  color: #eb4d01;
  text-decoration: none;
}

#footer-logo:hover {
  color: #ffcc00;
  cursor: pointer;
}

#footer-face {
  cursor: pointer;
}

.restaurant-card {
  background-color: #d6d6d6;
  border: 2px #000000 solid;
  border-radius: 15px 40px;
  box-shadow: 10px 10px 5px #969696;
  width: 40vw;
  max-width: 400px;
  height: 10vh;
  min-height: 125px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 25px;
}

.restaurant-card:hover {
  background-color: #ffcc00;
  border: 2px #eb4d01 solid;
  border-radius: 15px;

  color: black;
  cursor: pointer;
}

.review-card {
  background-color: #d6d6d6;
  border: 2px #000000 solid;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #969696;

  font-size: 30px;
  width: 60vw;
  max-width: 500px;
  height: 20vh;
  min-height: 100px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.review-card > p {
  padding-left: 10px;
  padding-right: 10px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
	margin-top: 5vh;
}

.register-form,
.login-form {
  margin: 5vh 0 5vh 0;
}

.review-form,
.add-form,
.register-form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-form > *,
.add-form > *,
.login-form > *,
.register-form > * {
  margin: 5px;
  text-align: center;
  font-size: 25px;
}

.register-form > div > * {
  margin: 5px;
  text-align: center;
  font-size: 25px;
  border-radius: 15px;
}

.review-form > div > * {
  text-align: center;
  font-size: 25px;
  border-radius: 15px;
}

.add-form > div > * {
  text-align: center;
  font-size: 25px;
  border-radius: 15px;
}

.review-form > select {
  width: 100px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

.review-form > textarea {
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
  border-radius: 15px;
}

.review-top {
  background-color: #dedede;
  width: 100%;
  border-radius: 15px 15px 0px 0px;

  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: center right;
}

.review-bottom {
  width: 100%;
  border-radius: 15px 15px 0px 0px;

  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas: center right;
}

.review-bottom > button {
  grid-area: 1 / 3;
  border-radius: 13px 0px 13px 0px;
  margin-right: 0;
  font-size: 20px;
  border-top: 2px solid black;
  border-right: none;
  border-left: 2px solid black;
  border-bottom: none;
}

.review-bottom > h4 {
  grid-area: 1 / 2;
}

.review-top > button {
  grid-area: 1 / 3;
  border-radius: 0px 13px 0px 13px;
  margin-right: 0;
  font-size: 30px;
  border-top: none;
  border-right: none;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.review-top > button:hover {
  border-left: 2px solid #eb4d01;
  border-bottom: 2px solid #eb4d01;
}

.review-bottom > button:hover {
  border-top: 2px solid #eb4d01;
  border-left: 2px solid #eb4d01;
}

.review-top > h3 > span {
  filter: grayscale(100%);
}

.review-top > h4 {
  grid-area: 1 / 2;
}

.review-top > h3 {
  grid-column-end: span 3;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

textarea {
  width: 50vw;
  font-family: 'Nanum Brush Script', cursive;
}

input,
select {
  font-family: 'Nanum Brush Script', cursive;
  margin: 5px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
}

select::-ms-expand {
  display: none;
}

select:required:invalid {
  color: gray;
}

option[value=''][disabled] {
  display: none;
}

option {
  color: black;
}

.reviews-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-form > input,
.login-form > input {
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

.register-form > div > input {
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

.register-form > div > select {
  width: 100px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

.add-form > button,
.login-form > button {
  width: 75px;
  margin: 10px;
}

.register-msg {
  width: 75vw;
}

/* Loader */

.loader {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cssload-dots {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	outline: 2px solid #eb4d01;
	filter: url(#goo);
		-o-filter: url(#goo);
		-ms-filter: url(#goo);
		-webkit-filter: url(#goo);
		-moz-filter: url(#goo);
}

.cssload-dot {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.cssload-dot:before {
	content: "";
	width: 66px;
	height: 66px;
	border-radius: 94px;
	background: #ffcc00;
	position: absolute;
	left: 50%;
	transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	margin-left: -32.5px;
	margin-top: -32.5px;
}

.cssload-dot:nth-child(5):before {
	z-index: 100;
	width: 85.5px;
	height: 85.5px;
	margin-left: -42.75px;
	margin-top: -42.75px;
	animation: cssload-dot-colors 4.6s ease infinite;
		-o-animation: cssload-dot-colors 4.6s ease infinite;
		-ms-animation: cssload-dot-colors 4.6s ease infinite;
		-webkit-animation: cssload-dot-colors 4.6s ease infinite;
		-moz-animation: cssload-dot-colors 4.6s ease infinite;
}


.cssload-dot:nth-child(1) {
	animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
	background-color: #e97b00;
	animation: cssload-dot-move 4.6s 0s ease infinite;
		-o-animation: cssload-dot-move 4.6s 0s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 0s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
	animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}
.cssload-dot:nth-child(2):before {
	background-color: #eb4d01;
	animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
	animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}
.cssload-dot:nth-child(3):before {
	background-color: #ffcc00;
	animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
	animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}
.cssload-dot:nth-child(4):before {
	background-color: #ffcc00;
	animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
	0% {
		transform: translateY(0);
	}
	18%, 22% {
		transform: translateY(-131px);
	}
	40%, 100% {
		transform: translateY(0);
	}
}

@-o-keyframes cssload-dot-move {
	0% {
		-o-transform: translateY(0);
	}
	18%, 22% {
		-o-transform: translateY(-131px);
	}
	40%, 100% {
		-o-transform: translateY(0);
	}
}

@-ms-keyframes cssload-dot-move {
	0% {
		-ms-transform: translateY(0);
	}
	18%, 22% {
		-ms-transform: translateY(-131px);
	}
	40%, 100% {
		-ms-transform: translateY(0);
	}
}

@-webkit-keyframes cssload-dot-move {
	0% {
		-webkit-transform: translateY(0);
	}
	18%, 22% {
		-webkit-transform: translateY(-131px);
	}
	40%, 100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes cssload-dot-move {
	0% {
		-moz-transform: translateY(0);
	}
	18%, 22% {
		-moz-transform: translateY(-131px);
	}
	40%, 100% {
		-moz-transform: translateY(0);
	}
}

@keyframes cssload-dot-colors {
	0% {
		background-color: #ffcc00;
	}
	25% {
		background-color: #e97b00;
	}
	50% {
		background-color: #eb4d01;
	}
	75% {
		background-color: #ffcc00;
	}
	100% {
		background-color: #ffcc00;
	}
}

@-o-keyframes cssload-dot-colors {
	0% {
		background-color: #ffcc00;
	}
	25% {
		background-color: #e97b00;
	}
	50% {
		background-color: #eb4d01;
	}
	75% {
		background-color: #ffcc00;
	}
	100% {
		background-color: #ffcc00;
	}
}

@-ms-keyframes cssload-dot-colors {
	0% {
		background-color: #ffcc00;
	}
	25% {
		background-color: #e97b00;
	}
	50% {
		background-color: #eb4d01;
	}
	75% {
		background-color: #ffcc00;
	}
	100% {
		background-color: #ffcc00;
	}
}

@-webkit-keyframes cssload-dot-colors {
	0% {
		background-color: #ffcc00;
	}
	25% {
		background-color: #e97b00;
	}
	50% {
		background-color: #eb4d01;
	}
	75% {
		background-color: #ffcc00;
	}
	100% {
		background-color: #ffcc00;
	}
}

@-moz-keyframes cssload-dot-colors {
	0% {
		background-color: #ffcc00;
	}
	25% {
		background-color: #e97b00;
	}
	50% {
		background-color: #eb4d01;
	}
	75% {
		background-color: #ffcc00;
	}
	100% {
		background-color: #ffcc00;
	}
}

@keyframes cssload-dot-rotate-1 {
	0% {
		transform: rotate(-105deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-o-keyframes cssload-dot-rotate-1 {
	0% {
		-o-transform: rotate(-105deg);
	}
	100% {
		-o-transform: rotate(270deg);
	}
}

@-ms-keyframes cssload-dot-rotate-1 {
	0% {
		-ms-transform: rotate(-105deg);
	}
	100% {
		-ms-transform: rotate(270deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-moz-keyframes cssload-dot-rotate-1 {
	0% {
		-moz-transform: rotate(-105deg);
	}
	100% {
		-moz-transform: rotate(270deg);
	}
}

@keyframes cssload-dot-rotate-2 {
	0% {
		transform: rotate(165deg);
	}
	100% {
		transform: rotate(540deg);
	}
}

@-o-keyframes cssload-dot-rotate-2 {
	0% {
		-o-transform: rotate(165deg);
	}
	100% {
		-o-transform: rotate(540deg);
	}
}

@-ms-keyframes cssload-dot-rotate-2 {
	0% {
		-ms-transform: rotate(165deg);
	}
	100% {
		-ms-transform: rotate(540deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
	}
}

@-moz-keyframes cssload-dot-rotate-2 {
	0% {
		-moz-transform: rotate(165deg);
	}
	100% {
		-moz-transform: rotate(540deg);
	}
}

@keyframes cssload-dot-rotate-3 {
	0% {
		transform: rotate(435deg);
	}
	100% {
		transform: rotate(810deg);
	}
}

@-o-keyframes cssload-dot-rotate-3 {
	0% {
		-o-transform: rotate(435deg);
	}
	100% {
		-o-transform: rotate(810deg);
	}
}

@-ms-keyframes cssload-dot-rotate-3 {
	0% {
		-ms-transform: rotate(435deg);
	}
	100% {
		-ms-transform: rotate(810deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
	}
}

@-moz-keyframes cssload-dot-rotate-3 {
	0% {
		-moz-transform: rotate(435deg);
	}
	100% {
		-moz-transform: rotate(810deg);
	}
}

@keyframes cssload-dot-rotate-4 {
	0% {
		transform: rotate(705deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}

@-o-keyframes cssload-dot-rotate-4 {
	0% {
		-o-transform: rotate(705deg);
	}
	100% {
		-o-transform: rotate(1080deg);
	}
}

@-ms-keyframes cssload-dot-rotate-4 {
	0% {
		-ms-transform: rotate(705deg);
	}
	100% {
		-ms-transform: rotate(1080deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

@-moz-keyframes cssload-dot-rotate-4 {
	0% {
		-moz-transform: rotate(705deg);
	}
	100% {
		-moz-transform: rotate(1080deg);
	}
}
